<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de contatos</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">


    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/novocontato.css">

    <script src="/scripts/nomescript.js"></script>


</head>
<body>
    <div class="viewContainer">
        <div id="container" class="container">
            <header>
                <h1> Criar novo contato </h1>
            </header>
            <main>
                <div class="contatos">
                    <form action="" method="POST">
                    <label for="nome">Nome do contato</label>
                    <input name="nome" class="inp-contact" type="text" placeholder="Nome do contato">
                    <button type="submit" class="button green">Enviar</button>
                    </form>
                    
                
                </div>
            </main> 
        </div>
</body>
</html>